@import url('https://fonts.googleapis.com/css2?family=Exo+2:ital,wght@0,100..900;1,100..900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  * {
    font-family: 'Exo 2', sans-serif;
  }
  body {
    font-family: 'Exo 2', sans-serif !important;
    overflow-x: hidden;
  }
}

/* Custom range sliders styling with pastel accent */
input[type='range'] {
  accent-color: #ffafcc;
}

/* Custom scrollbars */
::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}
::-webkit-scrollbar-track {
  background: #171717;
}
::-webkit-scrollbar-thumb {
  background: #404040;
  border-radius: 3px;
}
::-webkit-scrollbar-thumb:hover {
  background: #525252;
}
