@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    font-family: 'Inter', sans-serif;
    overflow-x: hidden;
  }
}

/* Custom range sliders styling with pastel accent */
input[type='range'] {
  accent-color: #ffafcc;
}

/* Custom scrollbars */
::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}
::-webkit-scrollbar-track {
  background: #0f172a;
}
::-webkit-scrollbar-thumb {
  background: #cdb4db;
  border-radius: 3px;
}
::-webkit-scrollbar-thumb:hover {
  background: #ffafcc;
}
